#contact{
    background-image: url("Media/geisel.jpg");
    height: 100vh;
    background-position: top;
    background-repeat: no-repeat;
    background-size: cover;
    color:white;
    font-size: xxx-large;
    color:white;
    text-align: center;
}
#contact h1{
    font-size: xxx-large;
}
#contact h2{
    font-size: xx-large;
}

main{
    location: center;
}

.formfield{
    display: flex;
    flex-wrap: nowrap;
}