@import url('https://fonts.googleapis.com/css2?family=Cabin&display=swap');
#hamburger-input{
    display: none;
}

#hamburger-menu {
    position: fixed;
    top: 20px;
    right: 20px;
    width: 50px;
    height: 50px;
    display: none;
    border: none;
    padding: 0px;
    margin: 0px;
    font-family: 'Cabin', Sans-serif;
    background: linear-gradient(
            to bottom,
            #3944BC, #3944BC 20%,
            #ED7014 20%, #ED7014 40%,
            #3944BC 40%, #3944BC 60%,
            #ED7014 60%, #ED7014 80%,
            #3944BC 80%, #3944BC 100%
    );
    z-index: 2;
}

#hamburger-menu #sidebar-menu {
    visibility: hidden;
    position: fixed;
    top: 0;
    right: -250px;
    width: 200px;
    height: 100%;
    background-color: #3944BC;
    transition: 0.3s;
    padding: 0px 10px;
    box-sizing: border-box;
}

#hamburger-menu h3 {
    color: #B9FAF8;
    font-size: 2.2rem;
}

#hamburger-menu ul {
    padding-right: 0px;
}

#hamburger-menu li {
    list-style-type: none;
    line-height: 3rem;
}

#hamburger-menu a {
    color: #B9FAF8;
    font-size: 1.3rem;
    text-decoration: none;
}

#hamburger-menu a:hover {
    text-decoration: underline;
}

#hamburger-input:checked + #hamburger-menu #sidebar-menu {
    visibility: visible;
    right: 0;
}
#hamburger-input:checked ~ .overlay{
    visibility: visible;
    opacity: 0.4;
}


@media screen and (max-width: 750px) {
    #header-nav, .sideBar {
        display: none;
    }
    #hamburger-menu {
        display: inline;
    }
}